@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @apply font-montserrat;
    font-size: 14px;
}

.light{
    --background: '#fff';
    --text: '#000';
}

.dark{
    --background: '#12100D';
    --text: '#000';
}